### 매직메소드
- special method
- __<name>__
- str, repr

In [1]:
class Customer:
    def __init__(self, name):
        self.name = name

c = Customer('kim')

In [2]:
c

In [3]:
print(c)

<__main__.Customer object at 0x00000267369C2460>

In [4]:
class Customer: #object : 모든 클래스는 object를 상속받는데 생략하는 것
    def __init__(self, name):
        self.name = name
        
    def __str__(self): # 원래 object class에 있는 것 => override
        #print()함수로 나온 출력값을 변경하는 것
        return self.name
    
    def __repr__(self):
        # 설정 안하면 __str__과 동일함
        #인스턴스를 출력하는 방식 => 사용자가 이해하는 객체의 모습을 표현
        return f'Customer ({self.name})'

c = Customer('kim')

In [5]:
c

Customer (kim)

In [6]:
repr(c)

'Customer (kim)'

In [7]:
str(c)

'kim'

### Named Tuple, DataClass
- 객체보다 효율적임(간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용 가능하다. 
- 불변 객체

In [8]:
from collections import namedtuple
#namedtuple 을 사용하기 위해서 필요한 import

Customer = namedtuple('Customer', 'name age') #변수는 콤마가 아닌 공백으로 구분
a = Customer('lee', 44)
a.name, a.age

('lee', 44)

In [20]:
from dataclasses import dataclass
#3.7이상에서만 사용이 가능하다 

@dataclass 
class Customer2:
    name: str
    age: int
        
b = Customer2('hong', 88)
b.name, b.age

('hong', 88)

### 함수 I
- *, **
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

#### asterisk : *
- *는 여러 개의 인자가 들어왔을 때 하나로 패킹하는 역할을 한다.

In [10]:
def print_arg(*args): #*는 여러개를 패킹해준다.
    print(*args) #언패킹하기도 함
    print(args)
print_arg(1, 2, 3, 4, 5)

1 2 3 4 5
(1, 2, 3, 4, 5)

In [12]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args) #optional하다, 입력받으면 출력하고 그렇지 않으면 출력하지 않음
    
print_more(1, 2, 'hi')
print_more(1,2)

1 2
hi
1 2

In [13]:
empty = list(range(10))
print(*empty) #리스트가 아니라 하나하나 풀어서 출력해줌

0 1 2 3 4 5 6 7 8 9

In [14]:
# 행렬, 테이블 데이터
matrix = [
    [1,2],
    [3,4],
    [5,6]
]

#1, 3, 5 / 2, 4, 6 (열만 타고 싶다)
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [15]:
for item in zip([1,2], [3, 4], [5,6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [16]:
# 키워드 전용 인수 선언 시 사용
# *뒤는 키워드 전용 인수
def print_data(data, *,start, end):
    for item in data[start:end]:
        print(item)
        
print_data(empty, start=0, end=4)
#print_data(empty, 0 ,1)

0
1
2
3

#### kargs: **
- 딕셔너리로 반환한다.
- *와 달리 언패킹 기능은 없다.

In [17]:
def print_kargs(**kargs): #키 : 값 => 딕셔너리로 반환
    print(kargs)
    #print(**kargs) X 언패킹 기능 없음
print_kargs(wine = 'crianza', drink = 'water')

{'wine': 'crianza', 'drink': 'water'}

In [18]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine = wine, drink = 'water') #정해줄 수 있음

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [19]:
def print_all (num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
#print_all(1, 2, 3, 4, 5, 6, num1 = 4, num2 = 4)#오류
print_all(1, 2, 3, 4, 5, 6, num = 4)

1 2
18
{'num': 4}

In [20]:
a = {1:'a',2:'b'}
b = {2:'c', 3:'d'}
c = {**a, **b}

In [21]:
print(c)

{1: 'a', 2: 'c', 3: 'd'}